doctype html
html
  head
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300')
    link(rel='stylesheet', href='/css/main.css')
    block title
      title Title
  body
    block body
    script(type='text/javascript', src='/js/index.js')
