extends ./_layout.jade

block title
  title Homepage

block body
  header
    img(src="/asset/2015.png")
    .intro
      span.intro__icon.holiday &nbsp;
      span.intro__text Holiday
      span.intro__icon.working &nbsp;
      span.intro__text Working
  #calendar
